[Unit]
Description=PiRobot Daemon
After=network.target

[Service]
Restart=always
RestartSec=5
TimeoutStopSec=10
Type=simple
User=www-data
ExecStart=/usr/local/bin/pirobotd runserver

[Install]
WantedBy=multi-user.target
